body {
	background:#AAF;
	margin-left:auto;
	margin-right:auto;
	max-width:1000px;
	min-width:400px;
}
#messages{
	float:right;
	max-width:400px;
	margin:10px;
}
#content{
	max-width:800px;
	min-height:400px;
	border: solid #111;
	padding: 10px;
}
#usage{
	max-width:800px;
}
